<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>買い物アイテム追加</title>
</head>
<body>
    <h1>買い物アイテム追加</h1>
    <form id="add-items-form" action="{% url 'add_items_to_shopping_list' %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>アイテム名</th>
                    <th>購入数</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" name="items" value="{{ item.id }}">
                            {{ item.name }}
                        </label>
                    </td>
                    <td>
                        <input type="number" name="quantity_{{ item.id }}" placeholder="購入数" min="1">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">登録</button>
    </form>
    <a href="{% url 'shopping_list' %}">買い物リストへ戻る</a>
</body>
</html>
