<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}アプリケーション{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navigation">
        <ul>
            <li class="nav-item {% if request.resolver_match.url_name == 'item_list' %}active{% endif %}">
                <a href="{% url 'item_list' %}">ストックアイテム一覧</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'shopping_list' %}active{% endif %}">
                <a href="{% url 'shopping_list' %}">買い物リスト</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'add_item' %}active{% endif %}">
                <a href="{% url 'add_item' %}">新規ストックアイテム追加</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'purchase_history_list' %}active{% endif %}">
                <a href="{% url 'purchase_history_list' %}">購入履歴</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
                <a href="{% url 'settings' %}">設定</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
