<!DOCTYPE html>
<html lang="ja">
{% extends "base.html" %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>カテゴリ追加/編集</title>
</head>
{% endblock head %}

<body>
{% block content %}
    <h1>{% if form.instance.id %}カテゴリ編集{% else %}新規カテゴリ追加{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">保存</button>
    </form>
    <a href="{% url 'category_list' %}">戻る</a>
{% endblock%}
</body>
</html>