<!DOCTYPE html>
<html lang="ja">
{% extends "base.html" %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Item</title>
</head>
{% endblock head %}

<body>
{% block content %}
<h2>■メールアドレス変更</h2>
<form method="post">
    {% csrf_token %}
    <style>
        .current_email input[type="email"] {
            border: none; 
            outline: none;
            background: none;
        }
    </style>
    <div class="current_email">
        {{ form.current_email.label_tag }} {{ form.current_email }}
    </div>
    {{ form.new_email.label_tag }} {{ form.new_email }}<br>
    {{ form.confirm_email.label_tag }} {{ form.confirm_email }}<br><br>
    <button type="submit">変更する</button>　　<button type="button" onclick="window.history.back();">戻る</button>
    {% endblock%}
</body>


</form>
