{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メールアドレス変更</title>
{% endblock %}

{% block content %}
<div class="container">
    
        <h1>メールアドレス変更</h1>
        <form method="post">
            {% csrf_token %}
            <h2>■メールアドレス変更</h2>

            {% if form.non_field_errors %}
                <div class="error-container">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}

                    {% if field.help_text %}
                        <div class="tooltip-text" style="margin-left: 10px; margin-top: 5px; max-width: 400px;">
                            {{ field.help_text|linebreaksbr }}
                        </div>
                    {% endif %}

                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="button-container">
                <button type="submit" class="submit">変更</button>
                <button type="button" onclick="window.history.back();" class="btn">戻る</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
