<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Item</title>
</head>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <title>ナビゲーション</title>
    <link rel="stylesheet" href="styles.css"> {% endcomment %}

</head>
<body>

<nav>
    <a href="{% url 'login' %}">アプリへ</a>
    <a href="{% url 'logout' %}">ログアウト</a>
    <a href="{% url 'password_change' %}">パスワード変更</a>
    <a href="{% url 'store_add' %}">店舗追加</a>
    <a href="{% url 'store_list' %}">店舗一覧</a>
    <a href="{% url 'shopping_list' %}">買い物リスト</a>
    <a href="{% url 'add_item' %}">アイテム追加</a>
    <a href="{% url 'item_list' %}">アイテム一覧</a>
    <a href="{% url 'category_list' %}">カテゴリ追加</a>
    <a href="{% url 'purchase_history_list' %}">購入履歴</a>
    
</nav>
</body>
<body>
    <h1>Home</h1>
    <a href="{% url 'login' %}">アプリへ</a>
    <a href="{% url 'logout' %}">ログアウト</a>
    <a href="{% url 'password_change' %}">パスワード変更</a>
    <a href="{% url 'add_item' %}">アイテム追加</a>
    <a href="{% url 'item_list' %}">アイテム一覧</a>
    <a href="{% url 'category_list' %}">カテゴリ追加</a>
    <a href="{% url 'purchase_history_list' %}">購入履歴</a>
 
</body>
</html>