<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Item</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div>メールアドレス <input type="email" name="email"></div>
        <div>パスワード <input type="password" name="password"></div>
        <button type="submit">ログイン</button>
    </form>
    {{ form.errors }}
    <a href="{% url 'signup' %}">新規アカウント登録</a>
</body>
</html>