<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Item</title> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2 style="text-align: center;">ライフストック管理</h2>
            <form method="post">
                {% csrf_token %}
                <div class="login-form-group">
                    <label class="form-label">メールアドレス</label>
                    <input type="email" name="email" class="form-control">
                </div>
            
                <div class="login-form-group">
                    <label class="form-label">パスワード</label>
                    <input type="password" name="password" class="form-control">
                </div>
            
                <div class="login-form-group">
                    <button type="submit" class="login-btn">ログイン</button>
                </div>
            </form>
            {% if form.errors %}
                <div class="error-messages">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                </div>
            {% endif %}
            <a href="{% url 'signup' %}">新規アカウント登録</a>
        </div>
    </div>
</body>
</html>
