{% extends "base.html" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
{% endblock %}

{% block content %}
    {% comment %} <div id="password_change"> {% endcomment %}
        <h1>パスワード変更</h1>
        <form method="post">
            <h2>■パスワード変更</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit">変更</button>
            <button type="button" onclick="window.history.back();" class="btn">戻る</button>
        </form>
    </div>
{% endblock %}
