<!DOCTYPE html>
<html lang="ja">
{% extends "base.html" %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>購入履歴</title>
</head>
{% endblock head %}
{% block content %}
<body class="purchase-history-page">
    <h1>購入履歴</h1>

    <!-- 検索フォーム -->
    <form method="get" action="{% url 'purchase_history_Search' %}">
        {{ form.as_p }}
        <button type="submit">検索</button>
    </form>

    

    <h2>検索結果</h2>
    {% if grouped_histories %}
        <div class="purchase-history">
            {% for date, histories in grouped_histories.items %}
                <details>
                    <summary>{{ date }} - {{ histories|length }} 件</summary>
                    <ul>
                        {% for history in histories %}
                            <li>
                                アイテム: {{ history.item.name }}<br>
                                購入数量: {{ history.purchased_quantity }}
                            </li>
                        {% endfor %}
                    </ul>
                </details>
            {% endfor %}
        </div>
    {% else %}
        <p>該当する購入履歴がありません。</p>
    {% endif %}

    <a href="{% url 'home' %}">戻る</a>
</body>
{% endblock %}
</html>
