<!DOCTYPE html>
<html lang="ja">
{% extends "base.html" %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>購入履歴</title>
</head>
{% endblock head %}
{% block content %}
<body class="purchase-history-page">
    <h1>購入履歴</h1>

    <!-- 検索フォーム -->
    <form method="get" action="{% url 'purchase_history_Search' %}">
        <div class="purchase-form-group">
            <label for="item-selection">アイテムを選択:</label>
            <div class="item-list">
                {% for field in form.items %}
                    <div class="item-checkbox">
                        {{ field }} <label for="{{ field.id_for_label }}">{{ field.choice_item_name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="search-button">検索</button>
    </form>
    

    <h2>検索結果</h2>
    {% if grouped_histories %}
        <div class="purchase-history">
            {% for date, histories in grouped_histories.items %}
                <details>
                    <summary>{{ date }} - {{ histories|length }} 件</summary>
                    <ul>
                        {% for history in histories %}
                            <li>
                                アイテム: {{ history.item.name }}<br>
                                購入数量: {{ history.purchased_quantity }}
                            </li>
                        {% endfor %}
                    </ul>
                </details>
            {% endfor %}
        </div>
    {% else %}
        <p>該当する購入履歴がありません。</p>
    {% endif %}


</body>
{% endblock %}
</html>
