<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Item</title> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>新規アカウント登録</h1>
            <form method="post">
                {% csrf_token %}
    
                <label class="form-label">名前/ニックネーム</label>
                <div class="note">※登録後は変更不可</div>
                <div class="form-input">{{ form.name }}</div>
                {% if form.name.errors %}
                    <ul class="errorlist">
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
    
                <label class="form-label">メールアドレス</label>
                <div class="form-input">{{ form.email }}</div>
                {% if form.email.errors %}
                    <ul class="errorlist">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
    
                <label class="form-label">パスワード</label>
                <div class="note">※半角英数字8桁以上</div>
                <div class="form-input">{{ form.password1 }}</div>
                {% if form.password1.errors %}
                    <ul class="errorlist">
                        {% for error in form.password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
    
                <label class="form-label">パスワード（再入力）</label>
                <div class="form-input">{{ form.password2 }}</div>
                {% if form.password2.errors %}
                    <ul class="errorlist">
                        {% for error in form.password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
    
                <button type="submit">登録</button>
            </form>
    
            <br>
            <a href="{% url 'login' %}">ログイン画面へ戻る</a>
        </div>
    </div>
</body>
</html>