<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Item</title> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
    <h1>新規アカウント登録</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}
        <button type="submit">登録</button>
    </form>
    {{ form.errors }}

    <a href="{% url 'login' %}">ログインへ戻る</a>

</body>
</html>