{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>店舗追加</title>
{% endblock head %}

{% block content %}
    <h1>新規店舗追加</h1>

    <form method="post">
        {% csrf_token %}

        {% if store_form.non_field_errors %}
            <div class="error-container">
                <ul class="errorlist">
                    {% for error in store_form.non_field_errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if error_messages %}
            <div class="error-container">
                <ul class="errorlist">
                    {% for msg in error_messages %}
                        <li class="error">{{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}



        <fieldset>
            <legend><h2>店舗情報</h2></legend>

            <p>
                {{ store_form.name.label_tag }}<br>
                {{ store_form.name }}
                {% if store_form.name.errors %}
                    <div class="error">
                        <ul class="errorlist">
                            {% for error in store_form.name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </p>

            <p>
                {{ store_form.address.label_tag }}<br>
                {{ store_form.address }}
            </p>

            <p>
                {{ store_form.phone_number.label_tag }}<br>
                {{ store_form.phone_number }}
            </p>

            <p>
                {{ store_form.travel_time_home_min.label_tag }}<br>
                {{ store_form.travel_time_home_min }}
                {% if store_form.travel_time_home_min.errors %}
                    <ul class="errorlist">
                        {% for error in store_form.travel_time_home_min.errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>

            
        </fieldset>

        <fieldset>
            <legend><h2>他店舗との移動時間設定</h2></legend>
            <table>
                <thead>
                    <tr>
                        <th>他店舗</th>
                        <th>移動時間 (分)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                        <tr>
                            <td>{{ store.name }}</td>
                            <td>
                                <input type="number" name="travel_time_{{ store.id }}" placeholder="分数を入力" min="0">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>

        <br>
        <button type="submit" class="button-container">保存</button>
        <br>
        <button type="button" onclick="window.history.back();" class="btn-secondary">戻る</button>
    </form>

    <br><br><br><br>
{% endblock %}
