{% comment %} <!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>店舗追加/編集</title>
</head>
<body>
    <h1>{% if form.instance.id %}店舗編集{% else %}新規店舗追加{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">保存</button>
    </form>
    <a href="{% url 'store_list' %}">戻る</a>
</body>
</html> {% endcomment %}


<!DOCTYPE html>
<html lang="ja">
{% extends "base.html" %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>店舗追加/編集</title>
</head>
{% endblock head %}
{% block content %}
<body>
    <h1>{% if form.instance.id %}店舗編集{% else %}新規店舗追加{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit">保存</button>
    </form>
    <a href="{% url 'store_list' %}" class="btn">戻る</a>
</body>
{% endblock %}
</html>