<!DOCTYPE html>
<html lang="ja">
{% extends "base.html" %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>店舗追加</title>
</head>
{% endblock head %}
{% block content %}
<body>
    <h1>新規店舗追加</h1>
    
    <!-- 店舗追加フォーム -->
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h2>店舗情報</h2></legend>
            {{ store_form.as_p }}
        </fieldset>

        <fieldset>
            <legend><h2>他店舗との移動時間設定</h2></legend>
            <table>
                <thead>
                    <tr>
                        <th>他店舗</th>
                        <th>移動時間 (分)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                        <tr>
                            <td>{{ store.name }}</td>
                            <td>
                                <input type="number" name="travel_time_{{ store.id }}" placeholder="分数を入力" min="0">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>

        <br>
        <button type="submit" class="button-container">保存</button><br>
        <button type="button" onclick="window.history.back();" class="btn-secondary">戻る</button>
    </form>
    <br><br><br><br>
</body>
{% endblock %}
</html>
