{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>店舗追加</title>
{% endblock head %}

{% block content %}
    <h1>新規店舗追加</h1>

    <form method="post">
        {% csrf_token %}

        {% if store_form.non_field_errors %}
            <div class="error-container">
                <ul class="errorlist">
                    {% for error in store_form.non_field_errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if error_messages %}
            <div class="error-container">
                <ul class="errorlist">
                    {% for msg in error_messages %}
                        <li class="error">{{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}



        <fieldset>
            <legend><h2>店舗情報</h2></legend>
        
            <div class="store-form-group">
                {{ store_form.name.label_tag }}
                {{ store_form.name }}
                {% if store_form.name.errors %}
                    <div class="errorlist">{{ store_form.name.errors }}</div>
                {% endif %}
            </div>
        
            <div class="store-form-group">
                {{ store_form.address.label_tag }}
                {{ store_form.address }}
            </div>
        
            <div class="store-form-group">
                {{ store_form.phone_number.label_tag }}
                {{ store_form.phone_number }}
            </div>
        
            <div class="store-form-group">
                {{ store_form.travel_time_home_min.label_tag }}
                {{ store_form.travel_time_home_min }}
                {% if store_form.travel_time_home_min.errors %}
                    <div class="errorlist">{{ store_form.travel_time_home_min.errors }}</div>
                {% endif %}
            </div>
        </fieldset>

        <fieldset>
            <legend><h2>他店舗との移動時間設定</h2></legend>
            <table>
                <thead>
                    <tr>
                        <th>他店舗</th>
                        <th>移動時間 (分)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for store in stores %}
                        <tr>
                            <td>{{ store.name }}</td>
                            <td>
                                <input type="number" name="travel_time_{{ store.id }}" placeholder="分数を入力" min="0">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
        
        {% if has_items and item_price_formset %}
            <fieldset>
                <legend><h2>アイテム価格設定</h2></legend>
                {{ item_price_formset.management_form }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>アイテム名</th>
                            <th>価格</th>
                            <th>入数</th>
                            <th>メモ</th>
                            <th>価格不明</th>
                            <th>取扱なし</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in item_price_formset %}
                        {% if store_form.non_field_errors %}
                            <tr>
                                <td colspan="6">
                                    <ul class="errorlist">
                                        {% for error in store_form.non_field_errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ form.instance.item.name }}</td>
                            <td>{{ form.price }}</td>
                            <td>{{ form.price_per_unit }}</td>
                            <td>{{ form.memo }}</td>
                            <td>{{ form.price_unknown }}価格不明</td>
                            <td>{{ form.no_handling }}取り扱いなし</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        {% endif %}

        <br>
        <button type="submit" class="submit">保存</button>
        <br>
        <button type="button" onclick="window.history.back();" class="btn">戻る</button>
    </form>

    <br><br><br><br>
{% endblock %}
